* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  height: 100vh;
}

.left-side {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, #33383D 0%, #1C1D20 100%); /* Use `background` em vez de `background-color` */
}

.right-side {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d0d0d0;
  overflow: hidden;
}

.right-side img {
  width: 100%; 
  height: 100%; 
  object-fit: cover; 
}

.form-group {
  margin-bottom: 15px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
}

input {
  padding: 10px;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 10px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}
